<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
	<body>
		<div class="navbar navbar-default navbar-static-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/"><span>Chip Web Control</span></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
			  <ul class="nav navbar-nav navbar-right">
				<li class="active">
				  <a href="/">Home</a>
				</li>
				<li>
				  <a href="/add">Add/Edit Devices</a>
				</li>
			  </ul>
			</div>
		  </div>
		</div>
		<ul id="output">

        </ul>
		{% for i in range(1, pass_data['zone_count']+1) %}
		<div class="section">
		  <div class="container">
			<div class="row">
			  <div class="col-md-12">
				{% if  i == 1 %}
				<div class="panel panel-primary">
				{% else %}
				<div class="panel panel-primary" style="margin-top:-75px">
				{% endif %}
				  <div class="panel-heading">
					<h3 class="panel-title"> Zone {{ loop.index }}</h3>
				  </div>
				  <div class="panel-body">
				{% for device in pass_data['devices'] if pass_data['devices'][device].zone|int == i %}
				<div class="col-md-4">
					<div class="panel panel-primary">
					  <div class="panel-heading">
						<h3 class="panel-title">{{ device }}</h3>
					  </div>
					  <div class="panel-body">
					<div class="panel-body"> 
                    <ul class="list-group">
                      {% if  pass_data['devices'][device].state == 'On' %} 
                      <li class="list-group-item"><button id="{{ device }}:{{ pass_data['devices'][device].pin }}" type="button" class="btn btn-success btn-block usable">Power On</button></li>
                      {% else %}
                      <li class="list-group-item"><button id="{{ device }}:{{ pass_data['devices'][device].pin }}" type="button" class="btn btn-danger btn-block usable">Power Off</button></li>
                      {% endif %}
                      {% if pass_data['devices'][device].timer_onoff == 'On' %}
                      <li class="list-group-item"><a class="btn btn-success btn-block active">Timer {{ pass_data['devices'][device].timer_onoff }}</a></li>
                      <li class="list-group-item"><a class="btn btn-success btn-block active">On for {{ pass_data['devices'][device].timeon }} {{ pass_data['devices'][device].timer_scale }} |
					  Off for {{ pass_data['devices'][device].timeoff }} {{ pass_data['devices'][device].timer_scale }}</a></li>
                      {% else %}
                      <li class="list-group-item"><a class="btn btn-danger btn-block active">Timer {{ pass_data['devices'][device].timer_onoff }}</a></li>
                      <li class="list-group-item"><a class="btn btn-danger btn-block active">On for {{ pass_data['devices'][device].timeon }}
					  {{ pass_data['devices'][device].timer_scale }} | Off for {{ pass_data['devices'][device].timeoff }} {{ pass_data['devices'][device].timer_scale }}</a></li>
                      {% endif %}
                    </ul>
					</div>
				  </div>
				</div>
				</div>
				{% endfor %}
			  </div>
			</div>
		 </div>
		</div>
	   </div>
	  </div>
    </div>
		{% endfor %}
 </body>
<script type="text/javascript">
	$(document).ready(
		function() {
			sse = new EventSource('/my_event_source');
			sse.onmessage = function(message) {
				var incoming = message.data.split(' ', 4);
				var power = incoming[2] + " " + incoming[3];
				var device = incoming[0] + ":" + incoming[1];
				console.log(device);
				$('#' + device).toggleClass('btn-danger').toggleClass('btn-success');
					if (typeof power === "Power On")
						$('#' + device).text("Power Off")
					else
						$('#' + device).text("Power On");
			}

		})
</script>
<script>
	$('.usable').click(
		function() {  
			$(this).toggleClass('btn-danger').toggleClass('btn-success');
				if ($(this).text() == "Power On")
					$(this).text("Power Off")
				else
					$(this).text("Power On");
				$.getJSON('/_state', {state: $(this).text(), pin: $(this).attr('id')});    
		});
</script>
</html>