<html>
<head>
<title>CHIP Web Control login page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/leaf192.png') }}" sizes="192x192"/>
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/leaf180.png') }}"/>
</head>
<body>
    <nav role="navigation" class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">CHIP Web Control</a>
        </div>
    </nav>
        <form action="/login" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Login</h1>
                    </div>
                    <div class="login-form">
                        <div class="control-group">
                        <input type="text" class="login-field" value="{{ request.form.username }}" placeholder="username" name="username">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
         
                        <div class="control-group">
                        <input type="password" class="login-field" value="{{ request.form.password }}" placeholder="password" name="password">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary btn-large btn-block" >
                        <br>
                    </div>
                </div>
            </div>
        </form>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
